<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-7">
            <div class="card border-dark">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Deletar Veículo</h4>
                        <h6 class="card-subtitle text-muted">Você está preste a deletar um veículo, tem certeza?</h6>
                        <table class="table mt-4">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Veículo</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Ano</th>
                                    <th scope="col">Descricao</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody class="w-75">
                                <tr>
                                    <td>{{ veiculo.veiculo }}</td>
                                    <td>{{ veiculo.marca }}</td>
                                    <td>{{ veiculo.ano }}</td>
                                    <td>{{ veiculo.descricao }}</td>
                                    <td>{{ veiculo.vendido | status}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex mt-4 justify-content-center">
                            <button type="submit" class="btn btn-danger mr-3" routerLink="/atualizar">Não</button>
                            <button type="submit" (click)="deletar()" class="btn btn-success ml-3">Sim</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>